*{
    padding: 0;
    margin: 0;
}

/* --- Share the style--- */

.primary-color{
    color: #4E47FF;
}

.btn{
    padding: 12px 20px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
}

/* --header section */

/* ---navber--- */

header{
     background-image: url("./Assets/Hero-bg.png");
}

.header-container{
    width: 1140px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    
}

.logo h2{
    font-size: 35px;
}

/* ---banner--- */

.banner{
   
    margin-top: 158px;
}

.banner-text h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* --main section-- */

main{
    width: 1140px;
    margin: 140px  auto 0 auto;
}

/* ---action--- */

.action-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2.8;
}

.action-text h2{

    font-size: 42;
    font-weight: bold;

}

.action-text p{
    font-size: 24px;
}

.action-img img{
    border-radius: 30px;
}