*{
    padding: 0;
    margin: 0;
}

/* --- Share the style--- */

.primary-color{
    color: #4E47FF;
}

.btn{
    padding: 12px 20px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
}

/* --header section */

/* ---navber--- */

.body{
    background-color: #f5f8ff;
}

header{
     background-image: url("./Assets/Hero-bg.png");
}

.header-container{
    width: 1140px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
}

nav{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    
}

.logo h2{
    font-size: 35px;
}

/* ---banner--- */

.banner{
   
    margin-top: 158px;
}

.banner-text h1{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

/* --main section-- */

main{
    width: 1140px;
    margin: 120px  auto 0 auto;
}

/* ---action--- */

.action-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2.8;
}

.action-text h2{

    font-size: 42;
    font-weight: bold;

}

.action-text p{
    font-size: 24px;
}

.action-img img{
    border-radius: 30px;
}

/* ---productive-user--- */

.productive{
    height: 310px;
    width: 1140px;
    background-color: aliceblue;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    text-align: center;
}

.productive-container{

width: 860px;
    
}

.productive-text h3 {

    font-size: 38px;
    font-weight:bold ;
}

.productive-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    color: #000000;
    
}

.productive-user-h1{
    font-size: 80px;
    font-weight: bolder;
    color: #4E47FF;
}

/* ---review--- */

.review{
    margin-top: 140px;
}

.review-title h2{
 font-size: 42px;
 font-weight: 800;
 text-align: center;
margin-bottom: 50px;
}

.review-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
}

.review-star{

    margin-bottom: 15px;
}

.review-content h3{
    font-size: 25px;
    margin-bottom: 15px;
}

.review-text{
    background-color: #e5e7fe;
    padding: 20px;
    border: 1px solid red;
    border-radius: 10px;
}

.review-name{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* ---focus--- */

.focus{
    text-align: center;
    margin-top: 140px;
    background-color: #f5f8ff;
    border-radius: 15px;
    height: 650px;

}

.focus-container{
    padding: 30px;
    line-height: 1.90;

}

.focus-heading h1{
    font-size: 50px;
}

.focus-heading p{
    margin-bottom: 20px;
}

.focus-img img{
    margin-top: 30px;
    border-radius: 15px;
}

/* ----new -latter--- */

.news-latter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 120px;
}

.news-latter-heading h1{
    font-size: 100px;
    font-weight: bold;
}

input{
    padding: 15px 80px;
    background-color: rgb(235, 219, 219);
    border:none;
    border-radius: 15px;
}

textarea{

     background-color: rgb(235, 219, 219);
    border:none;
    border-radius: 15px;
    width: 100%;
}

.get-btn{

    padding: 15px 80px;
    background-color: rgb(235, 219, 219);
    border:none;
    border-radius: 15px;
    width: 100%;
    background-color: #4E47FF;
    margin-top: 35px;
    color: white;

}


